* {
  font-family: 'MinecraftiaRegular', sans-serif;
  font-weight: normal;
  font-style: normal;
}

section .img2 {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: contain;
  pointer-events: none;
  filter: invert(100%);
}
